.avatar-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-container {
  padding-left: 0;
  padding-right: 0;
}

.avatar-img-border {
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
  border-radius: 50%;
}
